Pillow
aiofiles
aiohttp
aiohttp-socks
httpx
opencv-python
playwright
psutil
PySocks
python-dotenv
requests
telethon
tldextract
urllib3
validators
beautifulsoup4
lxml
openai
pycountry
pandas
rapidfuzz
google-genai
openpyxl
anthropic
filelock>=3.19.1; python_version < "3.10"
filelock>=3.20.1; python_version >= "3.10"
